.chatbot {
  display: block;
  border: none;
  position: fixed;
  inset: auto 0px 0px auto;
  width: 72px;
  height: 72px;
  opacity: 1;
  background: none transparent !important;
  margin: 0px;
  max-height: 100%;
  max-width: 100vw;
  transform: translateY(0px);
  transition: none 0s ease 0s !important;
  visibility: visible;
  z-index: 999999999 !important;
  right: 20px;
  bottom: 20px;
}
.chatbotClose {
  width: 72px;
  height: 72px;
}
.chatbotOpen {
  width: 375px;
  height: 590px;
}

.get_started_button {
  /* display: inline-flex; */
}

@media screen and (max-width: 768px) {
  .get_started_button{
    align-self: center;
    margin-bottom: 35px !important;
  }
}